In [1]:
import pandas as pd

In [3]:
train_df = pd.read_csv("kaggle_data/train.csv")
test_df = pd.read_csv("kaggle_data/test.csv")

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12120 entries, 0 to 12119
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          12120 non-null  object
 1   premise     12120 non-null  object
 2   hypothesis  12120 non-null  object
 3   lang_abv    12120 non-null  object
 4   language    12120 non-null  object
 5   label       12120 non-null  int64
dtypes: int64(1), object(5)
memory usage: 568.3+ KB

In [11]:
train_df.head()

,id,premise,hypothesis,lang_abv,language,label
0,5130fd2cb5,and these comments were considered in formulat...,The rules developed in the interim were put to...,en,English,0
1,5b72532a0b,These are issues that we wrestle with in pract...,Practice groups are not permitted to work on t...,en,English,2
2,3931fbe82a,Des petites choses comme celles-là font une di...,J'essayais d'accomplir quelque chose.,fr,French,0
3,5622f0c60b,you know they can't really defend themselves l...,They can't defend themselves because of their ...,en,English,0
4,86aaa48b45,ในการเล่นบทบาทสมมุติก็เช่นกัน โอกาสที่จะได้แสด...,เด็กสามารถเห็นได้ว่าชาติพันธุ์แตกต่างกันอย่างไร,th,Thai,1

In [7]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5195 entries, 0 to 5194
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          5195 non-null   object
 1   premise     5195 non-null   object
 2   hypothesis  5195 non-null   object
 3   lang_abv    5195 non-null   object
 4   language    5195 non-null   object
dtypes: object(5)
memory usage: 203.1+ KB

In [107]:
test_df.head()

,id,premise,hypothesis,lang_abv,language
5,aa2510d454,His family had lost a son and a daughter now.,The son and daughter had lost their father.,en,English
6,865d1c7b16,Steps are initiated to allow program board mem...,There's enough room for 35-40 positions on the...,en,English
8,6d9fa191e6,"agencies' operating trust, enterprise and inte...",Agencies in financial trouble are usually audi...,en,English
10,f11f1ffffe,how long has he been in his present position,What length of time has he held the current po...,en,English
12,40a9b0f08e,Research and development is composed of,R&D is made up of.,en,English

In [13]:
train_df.lang_abv.unique()

array(['en', 'fr', 'th', 'tr', 'ur', 'ru', 'bg', 'de', 'ar', 'zh', 'hi',
       'sw', 'vi', 'es', 'el'], dtype=object)

In [43]:
lang_abv_value_count_df = lang_abv_value_count_df.reset_index()

In [45]:
lang_abv_value_count_df

   lang_abv  count
0        en   6870
1        zh    411
2        ar    401
3        fr    390
4        sw    385
5        ur    381
6        vi    379
7        ru    376
8        hi    374
9        el    372
10       th    371
11       es    366
12       tr    351
13       de    351
14       bg    342

In [51]:
lang_abv_total = lang_abv_value_count_df['count'].sum()
print(lang_abv_total)

12120

In [97]:
# lang_abv_value_count_df.columns = lang_abv_value_count_df.columns.droplevel(0)
# Not required as there is only one column
per_share_segment = lambda value: (value/lang_abv_total*100)
# ('per_share',per_share_segment)
lang_abv_value_count_df.groupby(['lang_abv']).agg(per_share_segment).sort_values(by='count',ascending=False)

              count
lang_abv
en        56.683168
zh         3.391089
ar         3.308581
fr         3.217822
sw         3.176568
ur         3.143564
vi         3.127063
ru         3.102310
hi         3.085809
el         3.069307
th         3.061056
es         3.019802
de         2.896040
tr         2.896040
bg         2.821782

In [99]:
train_df = train_df[train_df["lang_abv"]=="en"]

In [101]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6870 entries, 0 to 12119
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          6870 non-null   object
 1   premise     6870 non-null   object
 2   hypothesis  6870 non-null   object
 3   lang_abv    6870 non-null   object
 4   language    6870 non-null   object
 5   label       6870 non-null   int64
dtypes: int64(1), object(5)
memory usage: 375.7+ KB

In [103]:
test_df = test_df[test_df["lang_abv"]=="en"]

In [105]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2945 entries, 5 to 5194
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          2945 non-null   object
 1   premise     2945 non-null   object
 2   hypothesis  2945 non-null   object
 3   lang_abv    2945 non-null   object
 4   language    2945 non-null   object
dtypes: object(5)
memory usage: 138.0+ KB

In [27]:
train_df.drop(columns=["lang_abv","language"], inplace=True)
test_df.drop(columns=["lang_abv","language"], inplace=True)

train_df.to_csv("data/training_data.csv",index=False)
test_df.to_csv("data/testing_data.csv",index=False)